/* candidatecard.css */
.candidate-card {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: center; 
    /* min-height: 100vh; */
    font-family: 'Libre Baskerville', serif;
    padding: 40px;
    background-color: #ffffff;
    overflow: hidden;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    gap: 50px;
}
  
.photo {
    width: 400px; /* Adjust the photo size */
    height: 500px;
    border-radius: 0%;
    object-fit: cover;
    margin-right: 50px;
}
  
.details {
    text-align: left; /* Center text */
    flex-direction: column;
    max-width: 600px;
}
  
.details h2 {
    text-align: center;
    font-size: 36pt; /* Adjust font size */
    font-weight: 600;
    color: #1c1c84;
    font-variant: small-caps;
    margin-bottom: 10px;
}
  
.details h3 {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 20pt;
    color: #1c1c84;
    margin-bottom: 10px;
}
  
.details p {
    text-align: left;
    font-size: 14pt;
    color: #333;
    margin-bottom: 20px;
}

  