.candidate-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
}
  
.party-section {
    padding: 24px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background-color: #f8f8f8;
}

.party-section h1 {
    font-size: 20pt;
    font-weight: 700;
    font-family: 'Libre Baskerville';
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}

.party-section h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}
  
.dir {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
  
  
.candidate-card {
    display: flex;
    align-items: center;
    padding: 16px;
    max-width: 500px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
  
.democrat {
    background-color: #1c1c84; 
}
  
.republican {
    background-color: #b31942; 
}
  
.independent {
    background-color: #ffcc00; 
}
  

.democrat:hover {
    background-color: #14146b; 
}
  
.republican:hover {
    background-color: #8e122f; 
}
  
.independent:hover {
    background-color: #d4aa00; 
}
  
.candidate-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 16px;
    background-color: white; 
}
  
  
.candidate-info {
    display: flex;
    flex-direction: column;
}
  
.candidate-info h2 {
    margin: 0;
    font-size: 15pt;
    color: white;
}
  
.candidate-info p {
    margin: 0;
    font-size: 1rem;
    color: white;
}
  