/* candidatecard.css */
.candidate-card {
    display: flex;
    flex-direction: row; /* Stack the image and details vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Take up full viewport height */
    font-family: 'Libre Baskerville';
    padding: 20px;
    margin: 0;
    background-color: #ffffff; /* Light background for contrast */
    overflow: hidden;
  }
  
  .candidate-card .photo {
    width: 400px; /* Adjust the photo size */
    height: 500px;
    border-radius: 0%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 150px; /* Space below image */
  }
  
  .candidate-card .details {
    text-align: center; /* Center text */
    flex-direction: column;
  }
  
  .candidate-card .details h2 {
    font-size: 36pt; /* Adjust font size */
    font-weight: 600;
    color: #1c1c84;
    font-variant: small-caps;
    margin-bottom: 10px;
  }
  
  .candidate-card .details h3 {
    font-family: 'Source Sans Pro';
    font-size: 20pt;
    color: #1c1c84;
    margin-bottom: 10px;
  }
  
  .candidate-card .details p {
    font-size: 16pt;
    color: #333;
    margin-bottom: 20px;
  }
  
  .candidate-card .info-box a {
    text-decoration: none;
    color: #1c1c84;
    font-weight: bold;
  }
  