.details {
    text-align: left; /* Center text */
    flex-direction: column;
    max-width: 600px;
}
  
.details h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 36pt; /* Adjust font size */
    font-weight: 500;
    color: #1c1c84;
    font-variant: small-caps;
    margin-bottom: 10px;
}
  
.details h3 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 20pt;
    font-variant: small-caps;
    color: #1c1c84;
    margin-bottom: 10px;
}

.details h4 {
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 16pt;
    font-variant: small-caps;
    color: #1c1c84;
    margin-bottom: 10px;
}
  
.details p {
    text-align: left;
    font-family: 'Source Sans Pro';
    font-size: 14pt;
    color: #333;
    margin-bottom: 20px;
}

  