.tweet-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tweet-container .tweet-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.tweet-container .tweet-header p {
    margin: 0;
    padding: 0;
}


@media (max-width: 380px) {
    .tweet-container .tweet-header {
        gap: 4px;
    }
}
