/* subissues.css */
h1 {
     font-size: 2.5em;
     padding: 8px;
     font-weight: bold;
     text-align: center;
}

h2 {
     font-size: 1.9em;
     text-align: center;
     padding: 4px;
}

.position {
     padding: max(8px, 1vw);
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: #ddd;
     margin-right: 2px;
     max-width: 600px;
}

.Name {
     font-weight: bolder;
}

p {
     padding-top: 1%;
     padding-bottom: 1%;
}

.status.yes {
     color: darkgreen;
}

.status.no {
     color: darkred;
}

.status {
     font-weight: bold;
}

.Democratic {
     color: darkblue;
}

.Republican {
     color: darkred;
}

.Green {
     color: green;
}

.Libertarian {
     color: darkgoldenrod;
}

.Independent {
     color: gray;
}

.Constitution {
     color: purple;
}

@media (max-width: 768px) {

     .position {
          font-size: 0.8em;
     }

}